.article-comments {
  &__list {
    list-style: none;
    padding: 0;
    margin: $body-element-spacing 0 0 0;
    &:first-child {
      margin-top: 0;
    }
  }
}
.article-comment {
  padding: 10px;
  border: 1px solid $color-border;
  &:first-child {
    margin-top: 0;
  }
  &--unpublished {
    opacity: 0.7;
  }
  &__meta {
    font-size: 90%;
    opacity: 0.7;
  }
}
