.customer__address {
  border: 1px solid $color-border;
  border-left-width: 10px;
  padding: 10px;
  margin-top: $body-element-spacing;
  &:first-child {
    margin-top: 0;
  }
}
.customer__orders {
  @include mqmax($bp-md) {
    td {
      padding-top: 0;
      padding-bottom: 0;
      &:first-child {
        padding-top: 0.7em;
      }
      &:last-child {
        padding-bottom: 0.7em;
      }
      &[data-label="Order"] {
        font-weight: 700;
      }
      &[data-label="Product"] {
        text-align: left;
        font-weight: 700;
        padding-bottom: 1.4em;
        &:before {
          content: none;
        }
      }
    }
    tfoot tr:first-child td:first-child {
      border-top: 1px solid $color-border;
    }
  }
  @include mqmin($bp-md) {
    tfoot tr:first-child td {
      border-top: 1px solid $color-border;
    }
  }
}
