// Password template
.password-template {
  text-align: center;
  .site {
    align-items: center;
    &:before {
      content: none;
    }
  }
  @include mqmin($bp-lg) {
    background-image: url('password-page-background.jpg');
    background-repeat: no-repeat;
    background-origin: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .main {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
    padding: $site-side-spacing;
    max-width: 480px;
    margin: 0 auto;
    @include mqmin($bp-md) {
      padding: $site-side-spacing-md;
    }
    &:before {
      content: "";
      position: fixed;
      top: 0;
      height: 100%;
      border: 2px dotted #d2d2d2;
      z-index: -1;
      width: 22px;
      border-top: 0;
      border-bottom: 0;
    }
    &:after {
      content: "";
      position: fixed;
      top: 0;
      height: 100%;
      border-right: 2px dotted #d2d2d2;
      z-index: -1;
      width: 74px;
    }
  }
  .container {
    box-shadow: 10px 0 85px -10px rgba(0,64,255,0.2);
    border: 1px solid #d2d2d2;
    background: rgba($body-background, 0.9);
    flex: 1 1 100%;
    margin: 0 auto;
    padding: $site-side-spacing;
    @include mqmin($bp-md) {
      margin: 0 auto;
      padding: $site-side-spacing-md;
    }
  }
  .logo__wrapper {
    margin: 0 auto;
    max-width: 260px;
  }
  .logo {
    .fill {
      fill: $color-primary;
    }
  }
  .container-content {
    padding: 0;
  }
  .password__message {
    margin-top: 0;
  }
  .button {
    width: 100%;
  }
  .form__row {
    margin-top: 0.7rem;
    input {
      border: 1px solid $color-primary;
      text-align: center;
    }
  }
  .password__footer {
    padding: $container-row-spacing-md;
    box-sizing: border-box;
    .icon-shopify {
      top: -2px;
    }
  }
  .js & #Login {
    max-height: 500px;
    transition: max-height 0.2s ease-in;
    overflow: hidden;
    &.no-js {
      display: block;
      max-height: 0;
    }
  }
  .social-sharing a {
    font-size: 80%;
  }
}
