.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  // Vertical row spacing
  &.row--spacing {
    margin-top: $row-spacing;
    @include mqmin($bp-md) {
      margin-top: $row-spacing-md;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  // Horizontal spacing between row colmns
  &.row--gutter {
    margin-right: $gutter * 0.5 * -1;
    margin-left: $gutter * 0.5 * -1;
    @include mqmin($bp-md) {
      margin-right: $gutter-md * 0.5 * -1;
      margin-left: $gutter-md * 0.5 * -1;
    }
  }
  // Reverse column direction
  &.row--reverse {
    flex-direction: row-reverse;
  }
}
